*{
    margin:0;
    padding:0;
}

.container{
    width:90%;
    margin:auto;
    overflow:hidden;
}

/* Navbar Properties */
#navbar{
    background-color: rgb(41, 41, 41);
    color:#fff;
}

#navbar ul{
    padding:25px;
    list-style:none;
}

#navbar li{
    display:inline;
    margin-right:4%;
}

#navbar a{
    color:#fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size:20px;
    line-height: 1.9em;
}

#navbar #current a{
    color: orange;
}

#navbar a:hover{
    color:rgba(255, 254, 254, 0.685);
}

/*  Home/index page Properties */
.content_home{
    background-color: rgb(47, 47, 47);
    width: 100%;
    padding-bottom:20px;
}

.content_home h1{
    color:rgba(255, 255, 255, 0.4);
    font-family: 'Roboto', sans-serif;
    font-size:  7vw;
    font-weight: 700;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-left:60px;
}

emphasize{
    color:#fff;
    font-weight: 400;
}

#profile_pic{
    width:18vw;
    border-radius:50%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    border:5px solid orange
}

.content_home h2{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size:  7vw;
    font-weight: 700;
    margin-left:0.5em;
    position:relative;
    bottom:1.1em;
    left:20px;
}

#inline{
    width:60vw;
    height:1px;
}

#profile_pic, #inline{
    display:inline-block;
}

.content_home h3{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size:  40px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 27%;
}

.content_home p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size:  25px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 27%;
}

.content_home a{
    color:orange;
    font-family: 'Roboto', sans-serif;
    font-size:  25px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 1em;
    margin-left:27%;
    text-decoration: none;
}

.content_home a:hover{
    text-decoration: underline;
}

@media(max-width:850px){
    .container{
        width: 97%;
    }

    .content_home h1{
        font-size: 10vw;
    }
}

@media(max-width:785px){
    .container{
        width: 100%;
    }
}

@media(max-width:460px){
    .content_home h1{
        font-size: 11vw;
    }
}